# Created by .ignore support plugin (hsz.mobi)
### macOS template
*.DS_Store
.AppleDouble
.LSOverride

### Node
package-lock.json
node_modules/
cache/
typechain-types/

### Contract
artifacts/
.deploys/
.deps/
build/
.idea
### test
reports
.pytest_cache
__pycache__
brownie/contracts/interface
brownie/contracts/lib
brownie/contracts/system_contracts
brownie/contracts/*.sol
brownie/interfaces